*{box-sizing: border-box;}
*{box-sizing: border-box;}
$color-white: white;
$color: #38aef0;
.chat-main{
  width: calc(100vw - 300px);
  float: left;
  
  .messages{
    background-color: #fafafa;
    padding: 46px 40px;
    height: calc(100vh - 190px);
    .message{
      padding-bottom: 40px;
      &__up{
        display: flex;
        margin-bottom: 10px;

        &__user{
          font-size: 16px;
          color: #434A54;
        }
        &__date{
          font-size: 12px;
          margin-left: 10px;
          color: #999999;
        }
      }
      &__text{
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  .main-header{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    border-bottom: 1px solid #eeeeee;
    &__left-box{
      margin-top: 35px;
      
      &__group{
        font-size: 20px;
        color: #333333;
      }
      
      &__member{
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
      }
    }
    &__edit-btn{
      height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      border: 1px solid $color;
      line-height: 40px;
    }
  }

  .form{
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;

    .new-message{
      display: flex;
      
      &__input-box{  
        position: relative;
        width: 100%;
        background-color: $color-white;

        &__text{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
          line-height: 50px;
        }
        &__image{
          position: absolute;
          top: 10px;
          right: 10px;

        }
      }
      &__send{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $color;
        line-height: 50px;
        color: $color-white;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}    

.icon{
  color: $color-white;
}
.btn{
  color: $color;
  text-decoration: none;
}
.icon-image{
  color: black;
  cursor: pointer;
}

